* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.zoom {
  transition-duration: .5s; }

.zoom:hover {
  transform: scale(1.07); }

#precios {
  display: flex;
  width: 100%;
  justify-content: space-around;
  transform: rotateX(50%); }

#flechita {
  position: relative;
  transform: rotateX(45%); }

nav {
  background-color: #330641;
  color: white; }

.blanco {
  color: white; }

.foto {
  transform: scale(3);
  transform: rotateX(10%); }

.violeta {
  background-image: linear-gradient(to right, rgba(165, 69, 69, 0.753), #640101); }

.centrar {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px; }

.centrado {
  text-align: center; }

.listasTips {
  text-align: center;
  list-style-type: disc;
  margin-left: 20px;
  line-height: 20px; }

li {
  margin-bottom: 5px; }

.margenTop {
  margin-top: 20px; }

.margenBot {
  margin-bottom: 50px; }

.m0p0 {
  margin: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }

body {
  background-color: #1c021f;
  font-family: 'Open Sans', sans-serif; }

div {
  background-color: #260430;
  color: lightgray; }

.bordeSolido {
  border: 4px solid #0c0114; }

.bordeRojo {
  border: 2px solid red; }

.bordeVerde {
  border: 2px solid green; }

a {
  text-decoration: none;
  color: white; }

.nav-item {
  color: white; }

a:hover {
  text-decoration: none; }

.grisesito {
  color: lightgray;
  background-color: #260430; }

.fondoPrincipal {
  width: 100%;
  height: calc(70vh - 1rem);
  background-image: url("multimedia/vladfull.jpg");
  padding: 0px; }

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 60px; }
  .contenedor .tarj {
    background-image: linear-gradient(rgba(221, 201, 25, 0.76), #ffa600);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    transform: rotateX(50%); }
  .contenedor .tarj__foto {
    width: 1800px;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block; }
  .contenedor .tarj__titulo {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 20px; }
  .contenedor .tarj__textos {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: normal; }
  .contenedor .tarj__descripcion {
    line-height: 28px;
    margin-bottom: 20px; }
  .contenedor .tarj__enlace {
    color: black;
    text-align: center;
    display: flex;
    flex-direction: row; }
  .contenedor .boton {
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    background: #000;
    color: #fff;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: cornflowerblue;
    transition: .3s ease all; }
  .contenedor .boton:hover {
    background: #456fbd;
    text-decoration: none;
    color: #fff; }
  .contenedor .boton--absoluto {
    position: absolute;
    right: 20px;
    bottom: -25px; }

.intro {
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 40px auto; }
  .intro .texto__titulo {
    font-size: 2rem;
    font-weight: 500px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 25px; }
  .intro .texto__texto {
    display: block;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    list-style-type: disc; }
  .intro .botones {
    padding: 20px;
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: center; }

.soloIntro {
  margin-top: 160px; }

.ress {
  margin: 50px;
  padding: 0px;
  border: 0px;
  margin-bottom: 20px; }

.tierGeneral {
  width: 980px;
  height: 2120px;
  transform: translateX(40%);
  background-image: url("multimedia/tierlist.jpg");
  margin: 50px;
  padding: 0px;
  border: 0px;
  margin-bottom: 20px; }

.info {
  width: 62rem;
  height: 25rem;
  transform: translateX(45%);
  align-items: center;
  text-align: center; }

.comms {
  width: 60%;
  height: 20%;
  transform: translateX(45%);
  align-items: center;
  text-align: center; }
  .comms .texto__titulo {
    font-size: 40px;
    font-weight: 500px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 40px; }
  .comms .texto__texto {
    display: block;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 25px;
    text-align: center; }

.colorNegroT {
  color: black;
  font-weight: 600;
  font-size: 20px; }

.colorBlancoT {
  color: white;
  font-weight: 600;
  font-size: 20px;
  text-align: center; }

.colorNegro {
  color: black;
  font-weight: 300; }

.gold {
  background-color: gold; }

.silver {
  background-color: #dadada; }

.bronce {
  background-color: #8f6f1f; }

.sinBorder {
  border-style: none; }

.experto {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%; }

.turboMain {
  background-color: #260430;
  color: lightgray;
  border: 4px solid #0c0114;
  width: 60%;
  height: 80%;
  padding: 40px; }

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around; }
  .gridContainer .margencito {
    margin: 20px;
    line-height: 1.5;
    padding: 20px; }
    .gridContainer .margencito img {
      float: left;
      margin-right: 15px; }

.floatLeft {
  float: left; }

.gridContainer2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around; }

.Dinline {
  display: flex;
  flex-direction: row; }

.dColumn {
  display: flex;
  flex-direction: column; }

.tituloCounters {
  position: absolute;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
  transform: translateX(55%);
  font-size: 30px;
  font-weight: 500px;
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.rojo {
  color: red; }

.verde {
  color: green; }

.fondoTop {
  width: 100%;
  height: calc(70vh - 40px);
  background-image: url("multimedia/urgot.jpg"); }
  .fondoTop .fade {
    z-index: 1;
    width: 100%;
    height: calc(70vh - 40px);
    background-image: linear-gradient(to top, #160D33 0%, rgba(25, 19, 61, 0) 100%); }
  .fondoTop .comms {
    width: 62rem;
    height: 25rem;
    transform: translateX(45%);
    align-items: center;
    text-align: center; }

.runasybuild {
  display: flex;
  flex-direction: row; }

.fondoJg {
  width: 100%;
  height: calc(70vh - 40px);
  background-image: url("multimedia/kayn.jpg"); }

.fondoMid {
  width: 100%;
  height: calc(70vh - 40px);
  background-image: url("multimedia/syndra.jpg"); }

.fondoBot {
  width: 100%;
  height: calc(70vh - 40px);
  background-image: url("multimedia/kalista.jpg"); }

.fondoSupp {
  width: 100%;
  height: calc(70vh - 40px);
  background-image: url("multimedia/thresh.jpg"); }

footer {
  height: 25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; }

.colIzq {
  padding: 10px;
  font-size: 14px; }

.fTitulos {
  font-weight: 600;
  font-size: 16px;
  padding: 12px; }

.pad20 {
  padding: 10px;
  font-size: 14px; }

.margenTop {
  margin-top: 40px; }

.m0 {
  margin: 0px; }

.discord {
  display: inline;
  justify-content: center; }

.redes {
  display: inline;
  justify-content: start; }

.espaciado {
  line-height: 50px; }

@media screen and (max-width: 600px) {
  .intro {
    width: 93%;
    height: 10%; }
  .gridContainer {
    width: 85%;
    height: 10%;
    grid-template-columns: auto;
    padding: 0px; }
  .contenedor {
    width: 95%; }
  .tarj {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0px;
    padding: 0px; }
  .tarj__foto {
    display: flex;
    position: absolute; }
  .gridContainer2 {
    display: grid;
    grid-template-columns: auto auto; }
  footer {
    width: 50%; }
  #grideano {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; } }
